Repository gardener/gardener-extension-os-ubuntu, pull requests merged in 2021-07, with the labels that each got.

#46 Add a link to the cherry-pick-pr script from gardener
  Makefile
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, area/os, kind/enhancement, needs/ok-to-test, os/ubuntu, reviewed/lgtm, size/xs

#49 Make leader election resource lock configurable and default to leases
  charts/gardener-extension-os-ubuntu/templates/deployment.yaml
  charts/gardener-extension-os-ubuntu/values.yaml
  cmd/gardener-extension-os-ubuntu/app/app.go
  example/controller-registration.yaml
  go.mod
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#48 Enable leader election in local setup
  Makefile
Labels: area/dev-productivity, area/os, kind/enhancement, needs/ok-to-test, needs/review, os/ubuntu, size/xs

#47 Avoid unnecessary restart of systemd services
  pkg/generator/generator_test.go
  pkg/generator/templates/cloud-init-ubuntu.template
  pkg/generator/testfiles/cloud-init
  pkg/generator/testfiles/cloud-init-containerd-provision
  pkg/generator/testfiles/cloud-init-containerd-reconcile
  pkg/generator/testfiles/cloud-init-with-drop-in
Labels: area/os, kind/cleanup, kind/enhancement, needs/ok-to-test, os/ubuntu, reviewed/lgtm, size/s

#51 Set kubelet to not use the sytemd-resolved stub
  pkg/generator/templates/cloud-init-ubuntu.template
  pkg/generator/testfiles/cloud-init
  pkg/generator/testfiles/cloud-init-containerd-provision
  pkg/generator/testfiles/cloud-init-containerd-reconcile
  pkg/generator/testfiles/cloud-init-with-drop-in
Labels: area/os, kind/bug, needs/ok-to-test, os/ubuntu, reviewed/lgtm, size/xs

#52 Create containerd's config.toml file if does not exist
  pkg/generator/templates/cloud-init-ubuntu.template
  pkg/generator/testfiles/cloud-init
  pkg/generator/testfiles/cloud-init-containerd-provision
  pkg/generator/testfiles/cloud-init-containerd-reconcile
  pkg/generator/testfiles/cloud-init-with-drop-in
Labels: area/os, kind/bug, needs/ok-to-test, os/ubuntu, reviewed/lgtm, size/s
